USE [MoonShopL001]
GO
ALTER TABLE [dbo].[tblOrderDetail] DROP CONSTRAINT [FK_tblOrderDetail_tblOrder]
GO
ALTER TABLE [dbo].[tblOrderDetail] DROP CONSTRAINT [FK_tblOrderDetail_tblCake]
GO
ALTER TABLE [dbo].[tblOrder] DROP CONSTRAINT [FK_tblOrder_tblUser]
GO
ALTER TABLE [dbo].[tblLog] DROP CONSTRAINT [FK_tblLog_tblUser]
GO
ALTER TABLE [dbo].[tblCake] DROP CONSTRAINT [FK_tblCake_tblCategory]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 3/28/2022 15:22:50 ******/
DROP TABLE [dbo].[tblUser]
GO
/****** Object:  Table [dbo].[tblOrderDetail]    Script Date: 3/28/2022 15:22:50 ******/
DROP TABLE [dbo].[tblOrderDetail]
GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 3/28/2022 15:22:50 ******/
DROP TABLE [dbo].[tblOrder]
GO
/****** Object:  Table [dbo].[tblLog]    Script Date: 3/28/2022 15:22:50 ******/
DROP TABLE [dbo].[tblLog]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 3/28/2022 15:22:50 ******/
DROP TABLE [dbo].[tblCategory]
GO
/****** Object:  Table [dbo].[tblCake]    Script Date: 3/28/2022 15:22:50 ******/
DROP TABLE [dbo].[tblCake]
GO
/****** Object:  Table [dbo].[tblCake]    Script Date: 3/28/2022 15:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCake](
	[cakeID] [int] IDENTITY(1,1) NOT NULL,
	[cakeName] [nvarchar](250) NULL,
	[status] [bit] NULL,
	[price] [float] NULL,
	[image] [nvarchar](250) NULL,
	[categoryID] [int] NULL,
	[createDate] [datetime] NULL,
	[description] [nvarchar](300) NULL,
	[quantity] [int] NULL,
	[expirationDate] [datetime] NULL,
 CONSTRAINT [PK_tblCake] PRIMARY KEY CLUSTERED 
(
	[cakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 3/28/2022 15:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[category] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblCategory] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLog]    Script Date: 3/28/2022 15:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLog](
	[logID] [int] IDENTITY(1,1) NOT NULL,
	[cakeID] [int] NULL,
	[userID] [nvarchar](50) NULL,
	[description] [nvarchar](100) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK_tblLog] PRIMARY KEY CLUSTERED 
(
	[logID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblOrder]    Script Date: 3/28/2022 15:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrder](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [nvarchar](50) NULL,
	[totalPrice] [float] NULL,
	[date] [datetime] NULL,
	[paymentMethod] [nvarchar](100) NULL,
	[paymentStatus] [nvarchar](50) NULL,
	[shippingAddress] [nvarchar](250) NULL,
	[phoneNumber] [nvarchar](11) NULL,
	[fullName] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblOrder] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblOrderDetail]    Script Date: 3/28/2022 15:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetail](
	[orderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NULL,
	[cakeID] [int] NULL,
	[quantity] [int] NULL,
	[unitPrice] [float] NULL,
 CONSTRAINT [PK_tblOrderDetail] PRIMARY KEY CLUSTERED 
(
	[orderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 3/28/2022 15:22:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tblUser](
	[userID] [nvarchar](50) NOT NULL,
	[password] [varchar](50) NULL,
	[role] [varchar](50) NULL,
	[status] [bit] NULL,
 CONSTRAINT [PK_tblUser] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[tblCake]  WITH CHECK ADD  CONSTRAINT [FK_tblCake_tblCategory] FOREIGN KEY([categoryID])
REFERENCES [dbo].[tblCategory] ([categoryID])
GO
ALTER TABLE [dbo].[tblCake] CHECK CONSTRAINT [FK_tblCake_tblCategory]
GO
ALTER TABLE [dbo].[tblLog]  WITH CHECK ADD  CONSTRAINT [FK_tblLog_tblUser] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([userID])
GO
ALTER TABLE [dbo].[tblLog] CHECK CONSTRAINT [FK_tblLog_tblUser]
GO
ALTER TABLE [dbo].[tblOrder]  WITH CHECK ADD  CONSTRAINT [FK_tblOrder_tblUser] FOREIGN KEY([userID])
REFERENCES [dbo].[tblUser] ([userID])
GO
ALTER TABLE [dbo].[tblOrder] CHECK CONSTRAINT [FK_tblOrder_tblUser]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetail_tblCake] FOREIGN KEY([cakeID])
REFERENCES [dbo].[tblCake] ([cakeID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK_tblOrderDetail_tblCake]
GO
ALTER TABLE [dbo].[tblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetail_tblOrder] FOREIGN KEY([orderID])
REFERENCES [dbo].[tblOrder] ([orderID])
GO
ALTER TABLE [dbo].[tblOrderDetail] CHECK CONSTRAINT [FK_tblOrderDetail_tblOrder]
GO
/****** Object:  Statistic [_WA_Sys_00000002_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000002_46E78A0C] ON [dbo].[tblCake]([cakeName]) WITH STATS_STREAM = 0x0100000001000000000000000000000099C7C470000000001E03000000000000DE02000000000000E7020000E7000000F40100000000000008D000340000000007000000DD0EAD00EFAD000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000002000000010000001000000000008642000000400000000000008642000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000C4000000000000006A01000000000000720100000000000010000000000000005F00000000000000300010000000803F000000000000803F04000001004F004200E1006E00680020007400720075006E006700200074006800750020006400BB1E6F0020006B0068006F006100690020006D00F4006E00300010000000803F000000000000803F040000010065004200E1006E00680020007400720075006E0067002000740068007500200074006800AD1E700020006300A91E6D0020006700E0002000710075006100790020006200E0006F0020006E006700B001FF0100000000000000020000000200000028000000280000000000000000000000340000004200E1006E00680020007400720075006E006700200074006800750020006400BB1E6F0020006B0068006F006100690020006D00F4006E0074006800AD1E700020006300A91E6D0020006700E0002000710075006100790020006200E0006F0020006E006700B001040000004000000000400F000000810D0F000001181C0000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000003_46E78A0C] ON [dbo].[tblCake]([status]) WITH STATS_STREAM = 0x01000000010000000000000000000000B00144ED00000000C80100000000000088010000000000006802000068000000010001000000000000000000004200E107000000DE0EAD00EFAD000002000000000000000200000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000110000000000803F00000040000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001C00000000000000240000000000000008000000000000001000110000000040000000000000803F010400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000004_46E78A0C] ON [dbo].[tblCake]([price]) WITH STATS_STREAM = 0x0100000001000000000000000000000081ACDC9C00000000F201000000000000B2010000000000003E0200003E0000000800350000000000000000000000000007000000DB0EAD00EFAD000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000180000000000004100000040000000000000004100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000046000000000000004E0000000000000010000000000000002B00000000000000100018000000803F000000000000803F0000000000F9F540040000100018000000803F000000000000803F00000000C0EB02410400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000005_46E78A0C] ON [dbo].[tblCake]([image]) WITH STATS_STREAM = 0x010000000100000000000000000000008CC303AB000000002302000000000000E301000000000000E7020000E7000000F40100000000000008D000340000000007000000DC0EAD00EFAD000002000000000000000200000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000004000000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000002D000000000000006F00000000000000770000000000000008000000000000003000100000000040000000000000803F040000010025006100610061002F00610061006100FF0100000000000000020000000100000028000000280000000000000000000000070000006100610061002F006100610061000200000040000000000207000000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000006_46E78A0C] ON [dbo].[tblCake]([categoryID]) WITH STATS_STREAM = 0x010000000100000000000000000000002C4C626400000000CB010000000000008B01000000000000380200003800000004000A00000000000000000000000000070000002F8BAC00EFAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F010000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000007_46E78A0C] ON [dbo].[tblCake]([createDate]) WITH STATS_STREAM = 0x0100000001000000000000000000000093659C1800000000CF010000000000008F010000000000003D0200003D0000000800170300000000000000000000000007000000DA0EAD00EFAD000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001800000000008040000000400000803F0000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F00000000EFAD00000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000008_46E78A0C] ON [dbo].[tblCake]([description]) WITH STATS_STREAM = 0x010000000100000000000000000000005031C54A0000000095030000000000005503000000000000E7020000E7000000580200000000000008D000340800000007000000D90EAD00EFAD000002000000000000000200000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000EE42000000400000803F0000EE420000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000000D01000000000000E101000000000000E9010000000000000800000000000000300010000000803F000000000000803F040000010005016800B001A1016E00670020007600CB1E20007400720075007900C11E6E00200074006800D11E6E00670020001101BF1E6E0020007400EB1E20006300E100630020006C006F00A11E690020006800A11E740020007400EB1E20006C00F2006E00670020001101CF1E200074007200E91E6E00670020006D007500D11E69002C0020006800A11E7400200011016900C11E75002C0020006D00E91E740020006200ED002C002000F3006300200063006800F3002C0020006800A11E740020006200ED002C0020006800A11E6E00680020006E006800E2006E002C0020006400A71E7500200070006800D91E6E006700FF0100000001000000020000000200000028000000280000000000000000000000500000006800B001A1016E00670020007600CB1E20007400720075007900C11E6E00200074006800D11E6E00670020001101BF1E6E0020007400EB1E20006300E100630020006C006F00A11E690020006800A11E6200ED002C002000F3006300200063006800F3002C0020006800A11E740020006200ED002C0020006800A11E6E00680020006E006800E2006E002C0020006400A71E7500200070006800D91E6E0067000200000040000000000150000000000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000009_46E78A0C] ON [dbo].[tblCake]([quantity]) WITH STATS_STREAM = 0x010000000100000000000000000000009971225A00000000CB010000000000008B01000000000000380200ED3800000004000A000000000000000000006800E207000000E00EAD00EFAD000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001400000000000040000000400000803F000000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F1D0000000400000200000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_46E78A0C]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_0000000A_46E78A0C] ON [dbo].[tblCake]([expirationDate]) WITH STATS_STREAM = 0x010000000100000000000000000000005197CB6800000000CF010000000000008F010000000000003D0200ED3D000000080017030000000000000000006800E207000000E10EAD00EFAD000002000000000000000200000000000000000000000000003F00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000001000000010000001800000000008040000000400000803F0000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000023000000000000002B000000000000000800000000000000100018000000803F000000000000803F000000000DAE00000400000200000000000000
GO
/****** Object:  Statistic [PK_tblCake]    Script Date: 3/28/2022 15:22:50 ******/
UPDATE STATISTICS [dbo].[tblCake]([PK_tblCake]) WITH STATS_STREAM = 0x0100000001000000000000000000000090621F9900000000CB010000000000008B01000000000000380300003800000004000A0000000000000000000000000007000000298BAC00EFAD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F060000000400000100000000000000, ROWCOUNT = 18, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_3F466844]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000002_3F466844] ON [dbo].[tblCategory]([category]) WITH STATS_STREAM = 0x010000000100000000000000000000001DE6D87C000000008B020000000000004B02000000000000E7020000E7000000640000000000000008D000340000000007000000BFDB8F00EFAD00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000000020410000404000000000000020410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007B00000000000000D700000000000000DF00000000000000180000000000000035000000000000005400000000000000300010000000803F000000000000803F04000001001D004400BB1E6F00300010000000803F000000000000803F04000001001F004E006700CD1E7400300010000000803F000000000000803F0400000100270054006800AD1E700020004300A91E6D00FF01000000000000000300000003000000280000002800000000000000000000000F0000004400BB1E6F004E006700CD1E740054006800AD1E700020004300A91E6D00040000004000000000810300000081040300000108070000000300000000000000
GO
/****** Object:  Statistic [PK_tblCategory]    Script Date: 3/28/2022 15:22:50 ******/
UPDATE STATISTICS [dbo].[tblCategory]([PK_tblCategory]) WITH STATS_STREAM = 0x01000000010000000000000000000000DCF544E700000000EA01000000000000AA01000000000000380300003800000004000A0000000000000000007F00000007000000B1B18F00EFAD000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000003E00000000000000460000000000000010000000000000002700000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F020000000400000200000000000000, ROWCOUNT = 5, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_tblLog]    Script Date: 3/28/2022 15:22:50 ******/
UPDATE STATISTICS [dbo].[tblLog]([PK_tblLog]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 83, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_66603565]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000002_66603565] ON [dbo].[tblOrder]([userID]) WITH STATS_STREAM = 0x010000000100000000000000000000003DE00DB900000000A3020000000000006302000000000000E7020000E7000000640000000000000008D0003400000000070000009C55B500F1AD00001500000000000000150000000000000000000000ABAAAA3E0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000100000004992A4400000A841000050414992A4400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130000000000000000000000000000007A00000000000000EF00000000000000F70000000000000010000000000000002F00000000000000300010000000E040000000000000803F04000001001F006300750073003100300010000000803F000000000000803F04000001004B00640075006F006E00670074006100690074006F0061006E003100390039003800400067006D00610069006C002E0063006F006D00FF01000000070000000B00000003000000280000002800000000000000000000001E0000006300750073003100640075006F006E00670074006100690074006F0061006E003100390039003800400067006D00610069006C002E0063006F006D000300000040000000008304000000011A040000001500000000000000
GO
/****** Object:  Statistic [PK_tblOrder]    Script Date: 3/28/2022 15:22:50 ******/
UPDATE STATISTICS [dbo].[tblOrder]([PK_tblOrder]) WITH STATS_STREAM = 0x010000000100000000000000000000004A97009C000000000103000000000000C102000000000000380300003800000004000A00000000000000000000000000070000009B55B500F1AD0000150000000000000015000000000000000000803F310C433D00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000B0000000B0000000100000014000000000080400000A841000000000000804000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001100000000000000000000000000000055010000000000005D0100000000000058000000000000006F0000000000000086000000000000009D00000000000000B400000000000000CB00000000000000E200000000000000F900000000000000100100000000000027010000000000003E01000000000000100014000000803F000000000000803F01000000040000100014000000803F000000000000803F02000000040000100014000000803F000000400000803F06000000040000100014000000803F0000803F0000803F08000000040000100014000000803F0000803F0000803F0A000000040000100014000000803F0000803F0000803F0C000000040000100014000000803F0000803F0000803F0E000000040000100014000000803F0000803F0000803F10000000040000100014000000803F0000803F0000803F12000000040000100014000000803F0000803F0000803F14000000040000100014000000803F0000803F0000803F160000000400001500000000000000, ROWCOUNT = 33, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_3B75D760]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000002_3B75D760] ON [dbo].[tblOrderDetail]([orderID]) WITH STATS_STREAM = 0x010000000100000000000000000000005B3E7D4200000000CB010000000000008B01000000000000380200003800000004000A00000000000000000000803F0C07000000C0FF5E01F0AD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F0C0000000400000100000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_3B75D760]    Script Date: 3/28/2022 15:22:50 ******/
CREATE STATISTICS [_WA_Sys_00000003_3B75D760] ON [dbo].[tblOrderDetail]([cakeID]) WITH STATS_STREAM = 0x010000000100000000000000000000004CB2C79800000000CB010000000000008B01000000000000380200003800000004000A00000000000000000000803F0C0700000060065F01F0AD000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110000000000000000000000000000001F0000000000000027000000000000000800000000000000100014000000803F000000000000803F0C0000000400000100000000000000
GO
/****** Object:  Statistic [PK_tblOrderDetail]    Script Date: 3/28/2022 15:22:50 ******/
UPDATE STATISTICS [dbo].[tblOrderDetail]([PK_tblOrderDetail]) WITH STATS_STREAM = 0x01000000010000000000000000000000D30F54550000000040000000000000000000000000000000380380403800000004000A00000000000000000000000000, ROWCOUNT = 31, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_tblUser]    Script Date: 3/28/2022 15:22:50 ******/
UPDATE STATISTICS [dbo].[tblUser]([PK_tblUser]) WITH STATS_STREAM = 0x010000000100000000000000000000002C9293CC00000000DB020000000000009B02000000000000E7030000E7000000640000000000000008D000340000000007000000F7A9B300F0AD00000300000000000000030000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000010000000ABAABA410000404000000000ABAABA41000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013000000000000000000000000000000A30000000000000027010000000000002F01000000000000180000000000000039000000000000005800000000000000300010000000803F000000000000803F04000001002100610064006D0069006E00300010000000803F000000000000803F04000001001F006300750073003100300010000000803F000000000000803F04000001004B00640075006F006E00670074006100690074006F0061006E003100390039003800400067006D00610069006C002E0063006F006D00FF010000000000000003000000030000002800000028000000000000000000000023000000610064006D0069006E006300750073003100640075006F006E00670074006100690074006F0061006E003100390039003800400067006D00610069006C002E0063006F006D0004000000400000000081050000008104050000011A090000000300000000000000, ROWCOUNT = 4, PAGECOUNT = 1
GO
